.cardSys .topic,
.cardSys .topic .z-label,
.cardSys .z-window-embedded-header {
	font-weight: bold;
	font-size: 14px;
} 
.cardSys .z-grid,
.cardSys .z-listbox {
	border: 1px solid #9F9F9F;
}
.cardSys .z-listbox {
	border-right: 0 none;
	border-bottom: 0 none;
}
.employee-list .z-listcell-cnt {
	text-align: center;
} 
.card-pre-ZK .cardZK {
	margin: 70px auto 50px;
	text-align: center;	
	width: 300px;
	height: 500px;
	-moz-box-shadow: 0px 0px 8px gray;
    -webkit-box-shadow: 0px 0px 8px gray;
    box-shadow: 0px 0px 8px gray;
  	background-color: #008BB6;  
}
.card-pre-ZK .cardZK .titleZK {
	margin-top: 10px;
}
.card-pre-ZK .cardZK .titleZK,
.card-pre-ZK .cardZK .z-label {
	color: white;
	font-size: 0.95em ;
	font-family: monospace;
	text-shadow: 1px 1px 3px #3C3C3C;
}
.card-pre-ZK .cardZK .codeZK {
	font-family: monospace;
	font-size: 14px;
	font-weight: bold;
	color: #ECECEC;
	text-shadow: 1px 1px 3px #3C3C3C;
}
.card-pre-ZK .cardZK .cssDiaChi {
	margin-top: 15px;
	font-size: 12px;
	color: white;
}